

.jumbotron
{
    background-color: rgb(224,224,209);
    /* background-color: rgb(0, 153, 153);     */
    /* background-image: url("image.png"); */
    margin-bottom: 0em;
    border-radius: 3em;
    margin-top: 10em;
    width: 30vw;
    margin-left: 10em;
    
}

#register-btn
{
    font-size: 1.4em;
    color: black;
}

div{
    display:block;
}