.jumbotron
{
    background-color: rgb(224,224,209);
    /* background-color: rgb(0, 153, 153);  
       */
       margin-bottom: 0em;
    border-radius: 3em;
    width: 30vw;
    margin-left: 10em;
    margin-top: 10em;
}

#back
{
    font-size: 1.4em;
    color: black;
}