h3{
    text-align: center;color:grey
}
.book-thumbnail{
    width:250px; height: 420px;
    margin:10px;
    /* background-color: rgb(79, 139, 194); */
    background: linear-gradient(rgba(86, 88, 88, 0.6),#3F8AA6);
    /* padding: 0; */
}
h4{
    margin: 0px
}
.book-image{
    height: 300px;
    width: 250px;
}

.book-actions{
    text-align: right;
}

.book-container{
    margin:auto;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height:100vh;
}
.search-block{
 margin: 10px;
}