h3{
    text-align: center;color:grey
}
.book-thumbnail{
    width:250px;
    margin:10px;
}
h4{
    margin: 0px
}
.book-image{
    height: 300px;
    width: 250px;
}
.book-actions{
    text-align: right;
}
.book{
    text-align: right;
}
.book-container{
    margin:auto;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height:100vh;
}
.search-block{
 margin: 10px;
}
p{
    color:rgb(92, 92, 138)
}