<div class="register">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
  <form class="register-form" #registerForm="ngForm" (ngSubmit)="registerform.form.valid && registerUser()" [style.fontsize.px]="20">
    <div class="register-block">
      <div class="row">
        <h3>
          <strong>REGISTER USER</strong>
        </h3>
      </div>

      <div class="container">
        <div class="row">

          <mat-form-field class="register-input-full-width" appearance="outline">
            <mat-label>Enter Name</mat-label>
            <input id="firstName" matInput placeholder="First Name" [(ngModel)]="newUser.firstName" name="firstName" required minLength="5"
              maxlength="10">
          </mat-form-field>

          <mat-form-field class="register-input-full-width" appearance="outline">
            <mat-label>User ID</mat-label>
            <input id="userId" matInput placeholder="User Id" [(ngModel)]="newUser.userId" name="userId" required minLength="5" maxlength="10"
              #userId="ngModel">
            <mat-icon matSuffix>
              <i class="material-icons">person</i>
            </mat-icon>
            <mat-hint>Your userid will be used to log in</mat-hint>
          </mat-form-field>


          <mat-form-field class="register-input-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input TYPE="password" id="password" class="inputPass" matInput placeholder="Password" [(ngModel)]="newUser.password" name="password"
              required>
            <mat-icon matSuffix>
              <i class="material-icons">lock</i>
            </mat-icon>
          </mat-form-field>

          <mat-form-field class="register-input-full-width" appearance="outline">
            <mat-label> Confirm Password</mat-label>
            <input TYPE="password" id="confirmpassword" class="inputPass" #cpass="ngModel" matInput placeholder=" Confirm Password" [(ngModel)]="newUser.confirmpassword"
              name=" confirmpassword" pattern="{{newUser.password}}" required>
            <mat-icon matSuffix>
              <i class="material-icons">lock</i>
            </mat-icon>
          </mat-form-field>
          <span class="abc" *ngIf="registerForm.submitted && cpass.errors?.pattern">password and confirm password does not match</span>

        </div>
        <div class="row">
          <button class="register-user" id="register-user" mat-raised-button color="primary" type="submit" (click)="registerUser()">Register</button>&nbsp;
          <button mat-raised-button (click)="resetInput(registerForm)">Clear</button>
        </div>
        <div class="row">
          <h6 style="font-size:17px; font-family:initial; margin-top: 30px">Already a member?
            <a id="login-button" routerLink="/login">Login </a>here!</h6>
        </div>
      </div>
    </div>
  </form>