<h3 class="header">The Ultimate Guide To Free EBooks..</h3>
<h3 class="header"> Welcome to your Friendly Neighbourhood Library</h3>

<div *ngIf="beforeSearch" class="book-container">
    <mat-card class="book-thumbnail" id="book-thumbnail">
        <mat-card-header>
            <mat-card-title id="book-title">
                <h4>Lords of the Ring</h4>
            </mat-card-title>
            <mat-card-subtitle>Author: Doug Me</mat-card-subtitle>
        </mat-card-header>
        <img class="book-image" mat-card-img src="http://covers.openlibrary.org/b/isbn/0299204243-L.jpg" alt="cover pic not available">
        <mat-card-actions class="book-actions">
            <a href="http://openlibrary.org/isbn/9780299204204" class="btn btn-primary" target="_blank">Read Book..</a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="book-thumbnail" id="book-thumbnail">
        <mat-card-header>
            <mat-card-title id="book-title">
                <h4>Hobbit</h4>
            </mat-card-title>
            <mat-card-subtitle>Author: J.R.R Tolkien</mat-card-subtitle>
        </mat-card-header>
        <img class="book-image" mat-card-img src="http://covers.openlibrary.org/b/isbn/0807288837-L.jpg" alt="cover pic not available">
        <mat-card-actions class="book-actions">
            <a href="http://openlibrary.org/isbn/0807288837" class="btn btn-primary" target="_blank">Read Book..</a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="book-thumbnail" id="book-thumbnail">
        <mat-card-header>
            <mat-card-title id="book-title">
                <h4>Chamber of Secrets</h4>
            </mat-card-title>
            <mat-card-subtitle>Author: J k Rowling</mat-card-subtitle>
        </mat-card-header>
        <img class="book-image" mat-card-img src="http://covers.openlibrary.org/b/isbn/1408845652-L.jpg" alt="cover pic not available">
        <mat-card-actions class="book-actions">
            <a href="http://openlibrary.org/isbn/1408845652" class="btn btn-primary" target="_blank">Read Book..</a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="book-thumbnail" id="book-thumbnail">
        <mat-card-header>
            <mat-card-title id="book-title">
                <h4>The Invisible Man</h4>
            </mat-card-title>
            <mat-card-subtitle>Author:H.G wells</mat-card-subtitle>
        </mat-card-header>
        <img class="book-image" mat-card-img src="https://covers.openlibrary.org/b/id/10437941-L.jpg" alt="cover pic not available">
        <mat-card-actions class="book-actions">
            <a href="https://openlibrary.org/isbn/OL52266W" class="btn btn-primary" target="_blank">Read Book..</a>
        </mat-card-actions>
    </mat-card>
</div>